#muneco{
    width: 262px;
    height: 322px;
}
.seis {
    background: url('../img/6.PNG');
}
.cinco {
    background: url('../img/5.PNG');
}
.cuatro {
    background: url('../img/4.PNG');
}
.tres {
    background: url('../img/3.PNG');
}
.dos {
    background: url('../img/2.png');
}
.uno {
    background: url('../img/1.png') ;
}
