@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');
body{
    background-color: #7ad0e040 !important;
    font-family: 'Prompt', serif !important;
}
button {
    border: 3px solid #ffed86 !important;
    background-color: #ffed86;
}
.navegacion{
    background-color: #ffed86;
    color: #007bff;
    border-radius: 15px;
    padding: 0.375rem 0.75rem;
    width: 35%;
    margin: 1em auto;
}

.container{
    margin: 2rem;
}
table {
    border-collapse: collapse;
    background:white;
    border-radius: 15px 15px 0 0;
    overflow:hidden;
    max-width:800px;
    width:100%;
    margin:0 auto;
    position:relative;
}
th, td {
    text-align: center;
    border-bottom: 1px solid #FFED86;
    border-collapse: collapse;
}
thead tr {
    height:60px;
    background:#FFED86;
    font-size:16px;
}
h1{
    font-family: 'Aclonica', serif !important;
    font-size: 42px;
}

/*Cuadro de resultado (contine un título y una imagen)*/
#resultado {
    text-align: center;
}
#resultado img {
    width: 50%;
}
/*huecos de letras*/
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.centrado{
    position: absolute;
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*mensajes de error*/
.error{
    color: red;
    font-style: italic;
}
