<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Final de partida</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

</head>
<body>
<div class="container text-center">
<div id="resultado">
    <h1 th:text="${partida.intentos == 0} ? '¡Oh nooo!, has perdido' : '¡Enhorabuena!, has adivinado la palaba'"> Mensaje final </h1>
    <img th:src="${partida.intentos == 0} ? '/img/perdedor.jpg' : '/img/ganador.jpg'" alt src="../static/img/perdedor.jpg"/>
</div>

<h2>Resultados de la partida: </h2>
<table>
    <thead>
    <th></th>
    <th>Resultados</th>
    </thead>
    <tbody>
        <tr>
            <th>Palabra</th>
            <td th:text="${partida.palabraOculta}">palabra</td>
        </tr>
        <tr>
            <th>Tu respuesta</th>
            <td>
                <div class="text-center">
                <span class="contenedor" th:each="hueco : ${partida.estado.toCharArray()}">
                    <img src="../static/img/cuadro.PNG" th:src="@{/img/cuadro.png}" alt="" width="30px"/>
                    <span class="centrado" th:text="${hueco == '_'} ? ' ' : ${hueco}">A</span>
                </span>
                </div>
            </td>
        </tr>
        <tr>
            <th>Intentos restantes</th>
            <td th:text="${partida.intentos}">intentos</td>
        </tr>
        <tr>
            <th>Letras falladas</th>
            <td th:text="${partida.letrasFalladas}">letras falladas</td>
        </tr>
    </tbody>
</table>
    <a th:href="@{/partida/jugar/random}">
        <button class="navegacion">Jugar otra partida</button>
    </a> <br/>
    <a th:href="@{/}">
        <button class="navegacion">Ir al inicio</button>
    </a>
</div>
</body>
</html>